#title{
  background-color: #ef8172;
}
.container{
  padding: 3% 60% 7%;
}
.buttonon{
  float:left;
}
h1{
  font-family: 'Ubuntu', sans-serif;
  color: #fff;
font-size: 90px;
font-weight: bolder;}
.tin{
  font-size: 5.6rem;
  font-weight: bold;
  font-family: Ubuntu;

}
.p{
   font-family: fantasy;}
.navbar{

  padding: 0 0 4.5rem !important;
}
.navbar-brand {
  display: inline-block;
  font-size: 2.5rem !important;
}
.nav-item{
  padding: 0 18px;
}
.nav-link{
  font-size: 1.2rem;
  font-family: ubuntu;
  font-weight: normal;
}

.download-btn{
  margin: 5% 3% 5% 0;
}

.title-image{
  width:50%;
  transform: rotate(25deg);
  position: absolute;
  right:30%

}

#features{
  display: inline-block;
  padding:7% 15%;
  text-align: center;
  background-color: white;
  position: relative;
  z-index:1;

}
.box{
  margin-left:2%;
}
.container-fluid{
  margin: 2% 0 2% 0;
  width: 30%;
}

.rightcon{
  padding-left: 2%;
  padding-right: 2%;
display: block;
}
.para{
  color: #8f8f8f;
}
.icons{
  color: #ff847c;
  display: block;
  margin-bottom:1rem;
}
.icons:hover{
  color: #ff4c68;
}
#testimonials{
  padding: 5% 15%;
  text-align: center;
  background-color: #ef8172;
}
.head2{
  font-family: 'Ubuntu', sans-serif;
  color: white;
  font-weight: 700;

}
.testimage{
  width:10%;
  border-radius: 100%;
  margin:20px;

}

#press{
  background-color: #ef8172;
  display: inline-block;
  size:30px;
  text-align: center;
  padding-bottom: 3px;
}


.pressimage{
  width: 10%;
  margin: 20px 20px 50px;
}

.carousel-indicators{
  bottom: -50px  !important ;
}

#pcards{
  text-align: center;
  padding: 100px;
}

.card{
  min-height: 370px;
}
.pricing-col{
  padding:40px;
}
.head2-1{
  font-family: ubuntu;
  font-size: 2.4rem;
  font-weight:bold;
  color:black;
}
@media (max-width:1028px){
  .title-image{
    position:static;
    transform: rotate(0);
  }
  #title{
    text-align: center;
  }
}
#dd{
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3px;
  color: #fff;
}
.head3{
  font-size: 2rem;
  font-family:Ubuntu ;
  font-color: white;
  font-weight: bold;
  text-align: center;
}
.Hd{
  padding:7% 15%;
}

#footer{
padding: 7% 15%;
text-align: center;
color: grey;
}
.fab{
  margin: 10px 20px;
}
